@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.result-plan {
    display: flex;
    align-items: center;
    height: 4rem;
    justify-content: center;
}

.result-plan h6 {
    margin: 0;
}

.wrapper hr {
    width: 98%;
    margin: 0;
}

.result-detail {
    flex: 1;
    padding-top: 1rem;
}


.v-line {
    width: 30px; /* 세로 선의 너비 */
    height: 100%; /* 세로 선의 높이는 부모 요소의 높이와 동일하게 설정 */
    background-color: black; /* 세로 선의 색상 */
    display: block; /* 세로 선을 블록 요소로 표시 */
    margin: auto; /* 가운데 정렬을 위한 margin 설정 */
}


.location {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.location-num-wrap {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
}

.color-first {
    background-color: #A6285F; /* travelNum이 1인 경우의 글씨 색 */
}

.color-second {
    background-color: #227c9d; /* travelNum이 2인 경우의 글씨 색 */
}

.color-third {
    background-color: #9C8770; /* travelNum이 3인 경우의 글씨 색 */
}

.location-num {
    color: white;
    padding-top: 0.3rem;
}

.day-num {
    font-family: 'JalnanGothic';
    font-width: bold;
}

.result-location-info {
    padding-left: 1rem;
}


.result-location-info .title {
    font-family: 'JalnanGothic';
    margin: 5px 0 0 0;
}

.result-location-info .addr {
    font-family: 'GmarketSansMedium';
    margin: 0;
    font-size: 80%;
    color: #808080;
}

.location-img-wrap {
    text-align: center;
    padding-left: 1rem;
    display: table;
    width: 5.5rem;
    height: 5.5rem;
    background-color: #f8f8f8;
    border-radius: 70%;
}

.location-img-div {
    display: table-cell;
    vertical-align: middle;
}

.location-img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 70%;
}

.duration-time {
    background-color: white;
    color: gray;
    font-size: 80%;
    z-index: 0;
    height: 2rem;
    padding-top: 0.2rem;
}

.duration-time-wrap {
    position: relative;
    z-index: 0;
}

.duration-time-wrap::before {
    content: '';
    position: absolute;
    top: -3rem;
    left: 1.5rem;
    transform: translateX(-50%);
    height: 10rem;
    width: 0.1rem; /* 세로선의 너비 */
    background-color: rgb(80, 80, 80, 0.3); /* 세로선의 색상 */
    z-index: -1;
}


/*스크롤바*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.custom-link {
    color: #808080; /* 원하는 색상으로 변경 */
    text-decoration: none; /* 텍스트에 밑줄 제거 */
    font-family: 'GmarketSansMedium';
}

.badge{
    display: inline-block;
    padding: 0.25em 0.5em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: #fff;
}


.kakao {
    text-align: center;
    width: 90%;
    margin: auto;


}