<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.odiga.mytrip.travel.dao.TravelDAO">

    <!-- 여행지 정보 가져오기 -->
    <select id="getTravelInfo" resultType="com.odiga.mytrip.travel.vo.TravelListVO">
        SELECT *
        FROM TravelList
        WHERE contentId = #{contentId}
    </select>
    <!-- 페이지 방문후 뷰카운트 1증가 -->
    <select id="countPlusOne" resultType="com.odiga.mytrip.travel.vo.TravelListVO">
        UPDATE TravelList
        SET TRAVELVIEWCOUNT = COALESCE(TRAVELVIEWCOUNT, 0) + 1
        WHERE contentId = #{contentId}
    </select>
    <!--페이지 방문시 overview가없으면 그정보 받아와서 db저장-->
    <update id="fetchOverview" parameterType="com.odiga.mytrip.travel.vo.TravelListVO">
        UPDATE TRAVELLIST
        SET overview = #{overview}
        WHERE contentid = #{contentid}
    </update>
    <!--리뷰 임포트-->
    <insert id="importReviewData" parameterType="com.odiga.mytrip.travel.vo.ReviewDataVO">
        INSERT INTO TRAVELREVIEW
        (REVIEWNO, EMAIL, NICKNAME, CONTENTID, REVIEWCOMMENT, REVIEWGRADE, REVIEWDATE)
        VALUES (REVIEWNO_SEQ.NEXTVAL, #{email} , #{nickname}, #{contentid}, #{reviewcomment}, #{reviewgrade}, SYSDATE)
    </insert>
    <!-- 리뷰 리스트 가져오기 -->
    <select id="getReviewList" resultType="com.odiga.mytrip.travel.vo.ReviewDataVO">
        SELECT *
        FROM TRAVELREVIEW
        WHERE contentId = #{contentId}
    </select>
    <!-- 좋아요 수 1 증가 -->
    <update id="Like" parameterType="string">
        UPDATE TravelList
        SET LIKECOUNT = COALESCE(LIKECOUNT, 0) + 1
        WHERE contentId = #{contentId}
    </update>
    <select id="cattranskr" resultType="com.odiga.mytrip.travel.vo.TravelCatKorVO">
        SELECT CAT1, CAT2, CAT3, CAT1KR, CAT2KR, CAT3KR 
        FROM TOURRISMSERVICE
        WHERE cat1 = #{cat1} and cat2 = #{cat2} and cat3 = #{cat3}
    </select>
    <update id="reviewUpdate" parameterType="String">
        UPDATE COURSEREVIEW
        SET (reviewcomment , REVIEWDATE) = (#{reviewcomment} , SYSDATE)
        WHERE boardNo = #{boardno}
    </update>
    <delete id="reviewDelete" parameterType="String">
        DELETE FROM COURSEREVIEW
        WHERE boardNo = #{boardno}
    </delete>
    <insert id="wishPlus" parameterType="com.odiga.mytrip.travel.vo.WishVO">
        INSERT INTO WISHLIST
        (WISHLISTNO, CONTENTID, EMAIL, NICKNAME)
        VALUES (WISHNO_SEQ.NEXTVAL, #{contentid} , #{email} , #{nickname})
    </insert>
    <delete id="wishDelete" parameterType="com.odiga.mytrip.travel.vo.WishVO">
        DELETE FROM WISHLIST
        WHERE CONTENTID = #{contentid} AND EMAIL =#{email} and NICKNAME = #{nickname}
    </delete>
</mapper>
