<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <p>구글 로그인</p>
    <a href="/oauth2/authorization/google"/>
</div>
<div>
    <p>네이버 로그인</p>
    <a href="/oauth2/authorization/naver"/>
</div>
<div>
    <p>카카오 로그인</p>
    <a href="/oauth2/authorization/kakao"/>
</div>

</body>
</html>