@charset 'UTF-8';

.slick-prev,
.slick-next
{
    color: white;
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;
    color: black;
    opacity: .75;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -50px;
    z-index: 1;
}

.slick-next
{
    right: -30px;
    z-index: 1;
}
