        .content{background: white; box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); border-radius: 0.5rem; padding: 1.5rem; margin-bottom: 1.5rem;}
        .content-top{display: flex; align-items: center;}
        .content-top h2{font-size: 1.125rem; line-height: 1.75rem; /* 28px */font-weight:50; flex-grow: 1; color:#909090}
        .content-step{display: flex; margin-left: 0.5rem; }
        .step-indicator.active { background-color: #4F46E5; color: white; }
        .step-indicator {padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; border-radius: 9999px;}
        .content p{ font-size: 25px; font-weight: 300;}
        .content em{font-style: normal; font-weight: 500;}
        .content .grid1{display: grid; grid-template-columns: repeat(4, minmax(0, 1fr)); gap: 1rem; }
        .content .grid2{display: grid; grid-template-columns: repeat(2, minmax(0, 1fr)); gap: 1rem; }
        .grid1 button{ border-radius: 9999px; border-width: 1px; border-color: rgb(209 213 219); padding:8px; background: white;}
        .select_priod{display: flex; justify-content: space-evenly; margin-left: 1rem; }
        .select_priod button{display: flex; flex-direction: column; align-items: center; border-width: 1px; border-color: rgb(209 213 219); border-radius: 0.5rem; padding:16px;}
        .select_priod img{width:48px; height: 48px;}
        .select_priod span{padding-top: 10px;}
        .grid2 button{display: flex; align-items: center; margin-left: 0.5rem; border-width: 1px; border-color: rgb(209 213 219); border-radius: 0.5rem; padding:16px;}
        .grid2 img{width:48px; height: 48px; border-radius: 9999px;}
        .grid2 span{padding-left: 10px;}
        #nextbtn { float:right; margin-bottom: 25px; color: white; padding: 15px 40px;  font-size: 20px; cursor: pointer;  background-color: #0B486B; }
        @font-face {
            font-family: 'JalnanGothic';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }