.site-footer {
    /* background-color: #f3f3f3; */
    color: #636363;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-content h3 {
    color: #333;
  }
  
  .footer-content p {
    margin: 10px 0;
    color: #666;
  }
  
  .footer-team p {
    font-weight: bold; /* 팀원 이름 강조 */
  }
 

  .contourLine2 {
    width: 100%;
    height: 2px;
    background-color: #ccc; 
    margin: 20px 0px; 
  
  } 