


.mainContentsComp {
   width: 100%;
   height: 1700px;
   background: black;
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-sizing:border-box;
}


.mainContentsInner {
   
   width: 100%;
   height: 100%;
   background: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.popularContent {
    width: 100%;
    height: 700px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
}

.popularContentTittleInner{
   width: 100%;
   height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}

.popularContentTittle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 30px;
    margin-top: 10px;
}

.popularContentTittle i {
    margin-right: 7px;
    font-size: 23px;
    color: red;
}

.popularContentTittle p {
    position: relative; 
    cursor: pointer;
  }
  
  .popularContentTittle p:hover::after {
    content: "현재 가장 높은 조회수를 기록하고 있는 게시글이에요 :)";
    position: absolute;
    top: -70%; 
    left: 188%; 
    transform: translate(-50%, -50%); 
    background-color: black;
    color: #fff;
    padding: 8px 12px;
    border-radius: 10px;
    white-space: nowrap;
    font-size: 14px;
    z-index: 10;
    width: max-content; 
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2); 
  } 
  

  @keyframes slider1 {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-100%);
    }
    50.1% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  @keyframes slider2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }


 .popularContentSliderInner {
      width: 100%;
      height: 525px;
      margin-top: 10px;
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
      padding-top: 10px;
 }

 .original {
  width: 3300px;
  display: flex;
  animation: 100s linear infinite normal none running slider1;
}
.clone {
 width: 3300px;
 display: flex;
 animation: 100s linear infinite slider2;
}


 .popularContentCard{
     width: 400px;
     height: 500px;
     box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); 
     border-radius: 10px;
     margin: 5px;
     flex-shrink: 0;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
 }

 .popularContentCard:hover {
  transform: translateY(-10px); 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

 .stop {
  animation-play-state: paused;
}


.cardThumbnail {
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.cardInfo {
  width: 100%;
  height: 40%;
}


.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  /* transition: transform 0.3s ease; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cardUserInfo {
   width: 100%;
   height: 30%;
   font-size: 15px;
   display: flex;
   align-items: center;
   margin-left: 5px;
   border-radius: 10px;
   
}

.cardUserNickname {
  width: 160px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.nickNameIcon {
    margin-right: 5px;
}

.cardDate {
  width: 130px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 15px;
}

.cardTitle {
  margin: 5px;
  width: 360px;
  height: 50%;
  font-size: 12px;
}

.cardUserTitle {
  width: 300px;
  height: 35px;
  padding-left: 5px;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 텍스트 초과시 말줄임표 문제 해결해야함  */
.cardUserDescription {
  width: 100%;
  height: 65px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardCategory {
  color: #007bff; 
  margin-top: 10px;
  margin-left: 10px;
  font-size: 13px;
  display: flex;
}


.contourLine {
  width: 85%;
  height: 2px;
  background-color: #ccc; 
  margin: 20px 0px; 
  margin-left: 100px;
} 

.recommendContentInner {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.recommendContentTitleInner{
   width: 100%;
   height: 15%;
   display: flex;
   align-items: center;
   background: white;
}

.recommendContentTitle{
   width: 500px;
   height: 50px;
   margin-left: 190px;
   font-size: 20px;
}


.recommendMainContentInner {
   width: 100%;
   height: 85%;
  display: flex;
  justify-content: center;
  
}


 
.recommendMainContentContainer {
  width: 1500px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 300px);
  grid-template-rows: 300px;
  grid-gap: 30px;

}

.recommendMainContentInner a {
  color: black;
}

.recommendMainContentImg {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  
}

.recommendMainContent {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
}

.recommendMainContentInfo {
  width: 100%;
  height: 50px;
  display: flex;
}

.likeCount {
  position: absolute;
  top: 10px; 
  right: 10px; 
  display: none; 
  color: #EEE;
   

}

.recommendMainContent:hover .likeCount {
  display: block; 
}